@charset "UTF-8";

$font-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-open-sans: 'Open Sans', sans-serif;

$font-montserrat: 'Montserrat', sans-serif;

$font-lato: 'Lato', sans-serif;

$font-raleway: 'Raleway', sans-serif;

$font-roboto: 'Roboto', sans-serif;

$font-oswald: 'Oswald', sans-serif;