.q-container {
  width: 100%;
  max-width: 1280px;
  padding: 0 5rem;
  margin: 0 auto;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  .columns.q-mobile > &.q-narrow {
    flex: none;
  }

  .columns.q-mobile > &.q-full {
    flex: none;
    width: 100%;
  }

  .columns.q-mobile > &.q-3-4 {
    flex: none;
    width: 75%;
  }

  .columns.q-mobile > &.q-2-3 {
    flex: none;
    width: 66.6666%;
  }

  .columns.q-mobile > &.q-1-2 {
    flex: none;
    width: 50%;
  }

  .columns.q-mobile > &.q-1-3 {
    flex: none;
    width: 33.3333%;
  }

  .columns.q-mobile > &.q-1-4 {
    flex: none;
    width: 25%;
  }

  .columns.q-mobile > &.q-offset-3-4 {
    margin-left: 75%;
  }

  .columns.q-mobile > &.q-offset-2-3 {
    margin-left: 66.6666%;
  }

  .columns.q-mobile > &.q-offset-1-2 {
    margin-left: 50%;
  }

  .columns.q-mobile > &.q-offset-1-3 {
    margin-left: 33.3333%;
  }

  .columns.q-mobile > &.q-offset-1-4 {
    margin-left: 25%;
  }

  @for $i from 1 through 12 {
    .columns.q-mobile > &.q-#{$i} {
      flex: none;
      width: $i / 12 * 100%;
    }

    .columns.q-mobile > &.q-offset-#{$i} {
      margin-left: $i / 12 * 100%;
    }
  }

  @include mobile {
    &.q-narrow-mobile {
      flex: none;
    }

    &.q-full-mobile {
      flex: none;
      width: 100%;
    }

    &.q-3-4-mobile {
      flex: none;
      width: 75%;
    }

    &.q-2-3-mobile {
      flex: none;
      width: 66.6666%;
    }

    &.q-1-2-mobile {
      flex: none;
      width: 50%;
    }

    &.q-1-3-mobile {
      flex: none;
      width: 33.3333%;
    }

    &.q-1-4-mobile {
      flex: none;
      width: 25%;
    }

    &.q-offset-3-4-mobile {
      margin-left: 75%;
    }

    &.q-offset-2-3-mobile {
      margin-left: 66.6666%;
    }

    &.q-offset-1-2-mobile {
      margin-left: 50%;
    }

    &.q-offset-1-3-mobile {
      margin-left: 33.3333%;
    }

    &.q-offset-1-4-mobile {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.q-#{$i}-mobile {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.q-offset-#{$i}-mobile {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include tablet {
    &.q-narrow,
    &.q-narrow-tablet {
      flex: none;
    }

    &.q-full,
    &.q-full-tablet {
      flex: none;
      width: 100%;
    }

    &.q-3-4,
    &.q-3-4-tablet {
      flex: none;
      width: 75%;
    }

    &.q-2-3,
    &.q-2-3-tablet {
      flex: none;
      width: 66.6666%;
    }

    &.q-1-2,
    &.q-1-2-tablet {
      flex: none;
      width: 50%;
    }

    &.q-1-3,
    &.q-1-3-tablet {
      flex: none;
      width: 33.3333%;
    }

    &.q-1-4,
    &.q-1-4-tablet {
      flex: none;
      width: 25%;
    }

    &.q-offset-3-4,
    &.q-offset-3-4-tablet {
      margin-left: 75%;
    }

    &.q-offset-2-3,
    &.q-offset-2-3-tablet {
      margin-left: 66.6666%;
    }

    &.q-offset-1-2,
    &.q-offset-1-2-tablet {
      margin-left: 50%;
    }

    &.q-offset-1-3,
    &.q-offset-1-3-tablet {
      margin-left: 33.3333%;
    }

    &.q-offset-1-4,
    &.q-offset-1-4-tablet {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.q-#{$i},
      &.q-#{$i}-tablet {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.q-offset-#{$i},
      &.q-offset-#{$i}-tablet {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include desktop {
    &.q-narrow-desktop {
      flex: none;
    }

    &.q-full-desktop {
      flex: none;
      width: 100%;
    }

    &.q-3-4-desktop {
      flex: none;
      width: 75%;
    }

    &.q-2-3-desktop {
      flex: none;
      width: 66.6666%;
    }

    &.q-1-2-desktop {
      flex: none;
      width: 50%;
    }

    &.q-1-3-desktop {
      flex: none;
      width: 33.3333%;
    }

    &.q-1-4-desktop {
      flex: none;
      width: 25%;
    }

    &.q-offset-3-4-desktop {
      margin-left: 75%;
    }

    &.q-offset-2-3-desktop {
      margin-left: 66.6666%;
    }

    &.q-offset-1-2-desktop {
      margin-left: 50%;
    }

    &.q-offset-1-3-desktop {
      margin-left: 33.3333%;
    }

    &.q-offset-1-4-desktop {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.q-#{$i}-desktop {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.q-offset-#{$i}-desktop {
        margin-left: $i / 12 * 100%;
      }
    }
  }


  @include widescreen {
    &.q-narrow-wide {
      flex: none;
    }

    &.q-full-wide {
      flex: none;
      width: 100%;
    }

    &.q-3-4-wide {
      flex: none;
      width: 75%;
    }

    &.q-2-3-wide {
      flex: none;
      width: 66.6666%;
    }

    &.q-1-2-wide {
      flex: none;
      width: 50%;
    }

    &.q-1-3-wide {
      flex: none;
      width: 33.3333%;
    }

    &.q-1-4-wide {
      flex: none;
      width: 25%;
    }

    &.q-offset-3-4-wide {
      margin-left: 75%;
    }

    &.q-offset-2-3-wide {
      margin-left: 66.6666%;
    }

    &.q-offset-1-2-wide {
      margin-left: 50%;
    }

    &.q-offset-1-3-wide {
      margin-left: 33.3333%;
    }

    &.q-offset-1-4-wide {
      margin-left: 25%;
    }

    @for $i from 1 through 12 {
      &.q-#{$i}-wide {
        flex: none;
        width: $i / 12 * 100%;
      }

      &.q-offset-#{$i}-wide {
        margin-left: $i / 12 * 100%;
      }
    }
  }
}

.columns {
  // Modifiers
  &.q-centered {
    justify-content: center;
  }

  &.q-gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & > .column {
      margin: 0;
      padding: 0;
    }
  }

  &.q-grid {
    // Responsiveness
    @include tablet {
      flex-wrap: wrap;

      & > .column {
        max-width: 33.3333%;
        padding: 0.75rem;
        width: 33.3333%;

        & + .column {
          margin-left: 0;
        }
      }
    }
  }

  &.q-mobile {
    display: flex;
  }

  &.q-multiline {
    flex-wrap: wrap;
  }

  &.q-vcentered {
    align-items: center;
  }

  // Responsiveness
  @include tablet {
    &:not(.q-desktop) {
      display: flex;
    }
  }


  @include desktop {
    // Modifiers
    &.q-desktop {
      display: flex;
    }
  }
}
